*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Tajawal', sans-serif;
}

body,html{
    height: 100%;
}

.principal{
    display: flex;
}

.borda{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #123597;
}

.img{
    width: 40%;
    max-width: 100%;
    border: 3px solid #ffff;
    border-radius: 80px;
    margin-left: 32%;
    margin-top: 65%;
}

.menu{
    text-align: center;
}

.menu a{
    color: white;
    font: 16px;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.descricao{
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
    margin-left: 3%;
    margin-top: 5%;
}

.sobre h2{
    font-size: 45px;
    font-family: 'Coustard', serif;
    text-transform: uppercase;
}

.sobre h3{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.sobre p{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
}

span{
    color: #123597;
}

.linguagem{
    display: block;
    justify-content: flex-start;
}

.linguagem p{
    font-size: 17px;
    font-family:'Press Start 2P', cursive;
    ;
}

.linguagem h4{
    margin-top: 40px;
    margin-bottom: 12px;
    font-size: 23px;
}

.lin{
    display: flex;
    margin-bottom: 12px;
    font-size: 15px;
}

.lin2{
    display: flex;
    margin-bottom: 12px;
    font-size: 15px;
}

.lin3{
    display: flex;
    margin-bottom: 12px;
    font-size: 15px;
}

.lin4{
    display: flex;
    margin-bottom: 12px;
    font-size: 15px;
}

.lin5{
    display: flex;
    margin-bottom: 12px;
    font-size: 15px;
}

.lin6{
    display: flex;
    margin-bottom: 12px;
    font-size: 15px;
}

.lin7{
    display: flex;
    margin-bottom: 12px;
    font-size: 15px;
}

.rede-social{
    margin-top: 40px;
}

.rede-social a{
    text-decoration: none;
    color: white;
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.rede-social i{
    line-height: 40px;
}

.rede-social a :hover{
    color:  #123597;

}




